*

!.gitignore

!Methods
!Methods/*.sh
!Methods/*.R
!Methods/*.py

!Methods/logs
!Methods/logs/._

!Material
!Material/._

!Results
!Results/*_out.txt
!Results/gene_fam*.png
!Results/species_tree*.png
!Results/syntheny*.png
!Results/protscriber.result*

!README.md
